* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(145deg, #1e1e1e, #383838);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background 0.9s ease;
}

.card {
    width: 85%;
    max-width: 800px;
    background: linear-gradient(145deg, #e078ca, #f3057c);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 35px 30px;
    text-align: center;
    transition: background 0.5s ease, box-shadow 0.5s ease;
}

.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search input {
    flex: 1;
    padding: 15px 20px;
    border: 2px solid #ebfffc;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 16px;
    color: #333;
    background-color: #ebfffc;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.search input:focus {
    border-color: #00c9ff;
    background-color: #fff;
}

.search button {
    background-color: #ebfffc;
    border: 2px solid #00c9ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search button:hover {
    background-color: #00c9ff;
    border-color: #ebfffc;
}

.search button img {
    width: 20px;
}

.weather-icon {
    width: 150px;
    margin-top: 20px;
    transition: width 0.3s ease;
}

.weather h1 {
    font-size: 72px;
    font-weight: 600;
    margin-top: 10px;
    transition: font-size 0.3s ease;
}

.weather h2 {
    font-size: 36px;
    font-weight: 400;
    margin-top: -5px;
    transition: font-size 0.3s ease;
}

.details {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding: 0 15px;
}

.col {
    display: flex;
    align-items: center;
}

.col img {
    width: 35px;
    margin-right: 10px;
    transition: width 0.3s ease;
}

.humidity,
.wind {
    font-size: 24px;
    transition: font-size 0.3s ease;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 15px;
    font-size: 14px;
    margin-top: 10px;
    color: #e9dada;
    display: none;
    transition: color 0.3s ease;
}
